:root {

}

html {
    height: 100%;
    background: burlywood;
  }
  
  body {
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  input {
    display: flex;
    justify-content: center;
  }
  
  ul {
  }
  
  img {
    display: block;
    width: 100%;
  }
  

  
  @media (orientation: landscape) {
    img {
      height: 100%;
      object-fit: cover;
    }
  }