:root {
}

html {
  font-family: "NotoSans", "Roboto", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
  background: rgb(241, 221, 194);
  display: flex;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 3rem;
  }  
  input {
    font-size: 3rem;
  }
  button {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    background-color: rgb(74, 109, 167);
    border-color: rgba(18, 18, 18, 0.1);
    margin: 1rem;
    padding: .3em;
    border-style: solid;
    border-radius: .1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}

/*
body {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1rem;
}
  


  input {
    display: flex;
    justify-content: center;
  }
  
  ul {
  }
  
  img {
    display: block;
    width: 100%;
  }
  

  
  @media (orientation: landscape) {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  */
