.card-list {
  padding: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr) );
}

.card {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  flex: 1;
  min-width: 20ch;
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--white);
  font-size: 1.6rem;
}

.card-details {
}


/*****************************
  Extra small devices (phones, 10px and up)
*****************************/

*/ @media only screen and (min-width: 10px) {
}

/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
}

/*****************************
 Large devices (laptops/desktops, 992px and up)
*****************************/

@media only screen and (min-width: 992px) {
}

/*****************************
 Extra large devices (large laptops and desktops, 1200px and up)
*****************************/

@media only screen and (min-width: 1200px) {
}

@media (orientation: landscape) {
}
