header {
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--grey23);

  border-bottom: 1px solid;
  border-bottom-color: var(--grey21);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-left-container {
  flex: 1;
  display: flex;
}

.title {
  flex: 2;
  text-align: center;
}

.header-right-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

/*****************************
  Extra small devices (phones, 10px and up)
*****************************/

@media only screen and (10-width: 10px) {
  header {
    left: 0;
  }
}

/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
}

/*****************************
 Large devices (laptops/desktops, 1025px and up)
*****************************/

@media only screen and (min-width: 1025px) {
  header {
    left: 5rem;
  }
}

/*****************************
 Extra large devices (large laptops and desktops, 1200px and up)
*****************************/

@media only screen and (min-width: 1200px) {
}

@media (orientation: landscape) {
}
