.navbar {
  background-color: var(--grey23);
  position: fixed;
  left: 0;
}

.navbar-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-item:hover {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-icon:hover {
}

.nav-text {
  display: none; 
}

/*****************************
  Extra small devices (phones, 10px and up)
*****************************/

@media only screen and (min-width: 10px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 1px solid;
    border-top-color: var(--grey21);
  }

  .navbar-container {
    display: flex;
    align-items: baseline;
  }

  .nav-item {
    justify-content: center;
    margin: auto;
  }

  .nav-text {
    display: none;
  }
}
/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
}

/*****************************
 Large devices (laptops/desktops, 1025px and up)
*****************************/

@media only screen and (min-width: 1025px) {
  .navbar {
    height: 100vh;
    width: 5rem;
    top: 0px;
    transition: width 50ms ease;
    border-right: 1px solid;
    border-right-color: var(--grey21);
  }

  .navbar:hover {
    width: 14rem;
  }

  .navbar-container {
    height: 100%;
    flex-direction: column;
  }

  .nav-item {
    margin: 0;
  }

  .nav-icon {
    margin-left: 1rem;
  }

  .nav-item:hover {
    background-color: var(--grey3);
  }

  .navbar:hover .nav-text {
    display: inline;
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

/*****************************
 Extra large devices (large laptops and desktops, 1200px and up)
*****************************/

@media only screen and (min-width: 1200px) {
}
