:root {
  /* --text-primary: black;
  --text-secondary: #ececec;
  --bg-primary: rgb(216, 216, 216);
  --bg-secondary: #5b3c88;
  --transition-speed: 300ms; */
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #5b3c88;
}

.navbar {
  background-color: rgb(218, 218, 218);
  position: fixed;
  left: 0px;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-item:hover {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-icon:hover {

}

.nav-text {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  body {
    margin-bottom: 5rem;
  }

.navbar {
  bottom: 0;
  width: 100vw;
  height: 5rem;
}

.navbar:hover {
  /* width: 14rem; */
}

.navbar-nav {
  /* background-color: rgb(218, 218, 218); */
  /* list-style: none; */
  /* padding: 0; */
  /* margin: 0; */
  display: flex;
  align-items: baseline;
  /* width: 100%; */
}

.nav-item {
  /* background-color: rgb(217, 217, 217); */
  /* display: flex; */
  /* align-items: center; */
  /* height: 5rem; */
  justify-content: center;
  width: 25%;
}

.nav-item:hover {
  /* background-color: rgb(140, 140, 140); */
  /* display: flex; */
  /* align-items: center; */
  /* height: 5rem; */
}

.nav-item:last-child {
  /* margin-top: auto; */
}

.nav-icon {
  /* margin-left: 1rem; */
}

.nav-icon:hover {

}

.nav-text {
  display: none;
}

}

/* Large screens */
@media only screen and (min-width: 600px) {
  body {
    margin-left: 5rem;
  }

  .navbar {
    /* position: fixed; */
    height: 100%;
    width: 5rem;
    top: 0px;
    /* left: 0px; */
    transition: width 50ms ease;
  }

.navbar:hover {
  width: 14rem;
}

.navbar-nav {
  height: 100%;
  flex-direction: column;
}

.nav-icon {
  margin-left: 1rem;
}
.nav-item:hover {
  background-color: rgb(140, 140, 140);
}

.navbar:hover .nav-text {
  display: inline;
  font-size: 1.4rem;
  margin-left: 1rem;
}
}
