.navbar {
  background-color: var(--grey2);
  position: fixed;
  left: 0vh;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-item:hover {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-icon:hover {
}

.nav-text {
  display: none;
}

/*****************************
  Extra small devices (phones, 600px and down)
*****************************/

@media only screen and (max-width: 600px) {
  body {
    margin-bottom: 5rem;
    margin-left: 0rem;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    display: flex;
    align-items: baseline;
  }

  .nav-item {
    justify-content: center;
    width: 25%;
  }

  .nav-text {
    display: none;
  }
}

/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
  body {
    margin-bottom: 5rem;
    margin-left: 0rem;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    display: flex;
    align-items: baseline;
  }

  .nav-item {
    justify-content: center;
    width: 25%;
  }

  .nav-text {
    display: none;
  }
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
  body {
    margin-bottom: 5rem;
    margin-left: 0rem;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    display: flex;
    align-items: baseline;
  }

  .nav-item {
    justify-content: center;
    width: 25%;
  }

  .nav-text {
    display: none;
  }
}
/*****************************
 Large devices (laptops/desktops, 992px and up)
*****************************/

/*****************************
 Extra large devices (large laptops and desktops, 1200px and up)
*****************************/

@media only screen and (min-width: 600px) {
  body {
    margin-left: 5rem;
  }

  .navbar {
    height: 100vh;
    width: 5rem;
    top: 0px;
    transition: width 50ms ease;
  }

  .navbar:hover {
    width: 14rem;
  }

  .navbar-nav {
    height: 100%;
    flex-direction: column;
  }

  .nav-icon {
    margin-left: 1rem;
  }
  .nav-item:hover {
    background-color: var(--grey3);
  }

  .navbar:hover .nav-text {
    display: inline;
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}
