:root {
  --transition-speed: 300ms;
  --purple: rgb(92, 60, 136);
  --blue1: rgb(74, 109, 167);
  --blue2: rgb(121, 160, 203);
  --white: rgb(255, 255, 255);
  --grey1: rgb(241, 241, 241);
  --grey2: rgb(218, 218, 218);
  --grey3: rgb(197, 197, 197);
  --grey4: rgb(157, 157, 157);
  --grey5: rgb(98, 98, 98);
  --orange: rgb(196, 132, 48);
  --maroon: rgb(148, 40, 38);
}

html {
  font-family: "Noto Sans", "Roboto", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
  background: var(--grey1);
}

body {
  margin: 4rem 0rem 0rem 5rem;
}

header {
  position: fixed;
  top: 0;
  left: 5rem;
  right: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--grey3);
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-left {
  flex: 1;
  display: flex;
}

.title {
  flex: 2;
  text-align: center;
}

.header-right-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header-right-1 {
  display: flex;
  text-align: right;
}


main {
  background-color: var(--grey1);
  height: 100vh;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.4rem;
}

.card {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  flex: 1;
  min-width: 20ch;
  padding: 2rem;
  background-color: var(--white);
}

.card-details {
}

button {
  color: var(--white);
  background-color: var(--grey5);
  font-size: 1.6rem;
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-style: solid;
}

/*****************************
  Extra small devices (phones, 600px and down)
*****************************/

*/ @media only screen and (max-width: 600px) {
  body {
    /* font-size: 3rem; */
  }

  .card-list {
    display: flex;
    flex-direction: column;
    
    width: 40ch;
    padding: 0.4rem;
  }

  .card {
    /* justify-items: center; */
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    padding: 2rem;
    /* width: 40ch; */
    background-color: var(--white);
  }
}

/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}

/*****************************
 Large devices (laptops/desktops, 992px and up)
*****************************/

@media only screen and (min-width: 992px) {
  body {
    font-size: 1.4rem;
  }
}

/*****************************
 Extra large devices (large laptops and desktops, 1200px and up)
*****************************/

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  /* padding: 1rem; */
}

input {
  /* display: flex;
    justify-content: center; */
}

ul {
}

img {
  /* display: block;
    width: 100%; */
}

@media (orientation: landscape) {
  img {
    /* height: 100%;
      object-fit: cover; */
  }
}
