:root {
  --transition-speed: 300ms;
  --purple: rgb(92, 60, 136);
  --blue1: rgb(74, 109, 167);
  --blue2: rgb(121, 160, 203);
  --white: rgb(255, 255, 255);
  --grey24: rgb(240, 240, 240);
  --grey23: rgb(230, 230, 230);
  --grey22: rgb(220, 220, 220);
  --grey21: rgb(210, 210, 210);
  --grey20: rgb(200, 200, 200);
  --grey19: rgb(190, 190, 190);
  --grey18: rgb(180, 180, 180);
  --grey17: rgb(170, 170, 170);
  --grey16: rgb(160, 160, 160);
  --grey15: rgb(150, 150, 150);
  --grey14: rgb(140, 140, 140);
  --grey13: rgb(130, 130, 130);
  --orange: rgb(196, 132, 48);
  --maroon: rgb(148, 40, 38);
}

html {
  font-family: "Noto Sans", "Roboto", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
  background: var(--grey1);
}

body {
  margin-top: 4rem;
}

main {
  padding: 1.2rem;
  background-color: var(--grey24);
  height: 100vh;
  /* margin-bottom: 5rem; */
}

input {
  font-size: 1.6rem;
}

button {
  /* color: var(--white); */
  /* background-color: var(--grey5); */
  /* font-size: 1.6rem; */
  margin: 1rem;
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
  /* border-style: solid; */
}

/*****************************
  Extra small devices (phones, 10px and up)
*****************************/

@media only screen and (min-width: 10px) {
  body {
    margin-left: 0;
    margin-bottom: 5rem;
  }
}

/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
}

/*****************************
 Large devices (laptops/desktops, 1081px and up)
*****************************/

@media only screen and (min-width: 1081px) {
  
  body {
    margin-bottom: 0;
    margin-left: 5rem;
  }
}

/*****************************
 Extra large devices (large laptops and desktops, 1921px and up)
*****************************/

@media only screen and (min-width: 1921px) {
}

@media (orientation: landscape) {
}
