:root {
  --transition-speed: 300ms;
  --purple: rgb(92, 60, 136);
  --blue1: rgb(74, 109, 167);
  --blue2: rgb(121, 160, 203);
  --white: rgb(255, 255, 255);
  --grey1: rgb(241, 241, 241);
  --grey2: rgb(218, 218, 218);
  --grey3: rgb(197, 197, 197);
  --grey4: rgb(157, 157, 157);
  --grey5: rgb(98, 98, 98);
  --orange: rgb(196, 132, 48);
  --maroon: rgb(148, 40, 38);
}

html {
  font-family: "Noto Sans", "Roboto", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
  background: var(--grey1);
}

body {
  margin: 4rem 0rem 0rem 5rem;
}

main {
  padding: 1.2rem;
  background-color: var(--grey1);
  height: 100vh;
}

input {
  font-size: 1.6rem;
}

button {
  /* color: var(--white); */
  /* background-color: var(--grey5); */
  /* font-size: 1.6rem; */
  margin: 1rem;
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
  /* border-style: solid; */
}

/*****************************
  Extra small devices (phones, 600px and down)
*****************************/

*/ @media only screen and (max-width: 600px) {
  body {
    /* font-size: 3rem; */
  }
}

/*****************************
  Small devices (portrait tablets and large phones, 600px and up)
*****************************/

@media only screen and (min-width: 600px) {
}

/*****************************
 Medium devices (landscape tablets, 768px and up)
*****************************/

@media only screen and (min-width: 768px) {
}

/*****************************
 Large devices (laptops/desktops, 992px and up)
*****************************/

@media only screen and (min-width: 992px) {
}

/*****************************
 Extra large devices (large laptops and desktops, 1200px and up)
*****************************/

@media only screen and (min-width: 1200px) {
}

@media (orientation: landscape) {
}
